// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #474e5a;
$textDark: #fff;
$textInlineCodeDark: #e6db74;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #f3f4f5;
$textBright: #2a2c2f;
$textInlineCodeBright: #DD4A68;

// Brand
$brandPrimary: #10c186;
$brandPrimaryDark: #10c186;
$brandPrimaryBright: #1976d2;
